.header{
    &__wrap{
        display: flex;
        align-items: center;
        padding: 20px 40px;
        height: 80px;
        gap: 24px;
        justify-content: space-between;
        background-color: $bg-main;
    }

    &__left{
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__logo{
        min-width: max-content;
    }

    &__nav{
        overflow: auto;
        ul{
            display: flex;
            gap: .6rem;
            li{
                a {
                    display: inline-block;
                    font-size: 1.4rem;
                    font-weight: 500;
                    padding: 0.8rem 1.8rem;
                    text-transform: uppercase;
                    transition: all 0.3s ease;
                    color: $color-light;
                    line-height: 2.4rem;
    
                    &:hover, &.router-link-active{
                        background-color: $bg-menu-active;
                        color: $color-menu-active;
                        border-radius: 100px;
                    }
                }
            } 
        }
    }

    &__btn{
        display: flex;
        align-items: center;
        gap: 8px;
        min-width: max-content;
    }
}