$bg-main: #131415;
$color-main: #ffffff;

$color-light: #D2D2D2;
$color-dark: #1F1F1F;

// border
$bg-btn: #FFC700;
$bg-btn-hover: #C79B12;
$color-btn-light: #D2D2D2;
$color-btn-dark: #1F1F1F;
$color-btn-border: #FFC700;
$color-btn-border-hover: #FFE8AB;

// menu
$color-menu-active: #FFC700;
$bg-menu-active: #383A42;