.title {
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 3.2rem;
    font-weight: 900;
    font-style: italic;
    color: $color-title;
    text-transform: uppercase;

    @media screen and (max-width: $size-screen-sm) {
        font-size: 2.4rem;
    }
}